openapi: 3.0.0
info:
  title: browse_manager
  version: v1
servers:
  - url: 'https://services.utelly.com/browse_manager/v1'
    description: prod
  - url: 'https://staging-services.utelly.com/browse_manager/v1'
    description: staging
  - url: 'https://dev-services.utelly.com/browse_manager/v1'
    description: dev
paths:
  '/content/creative_works/{creative_work_guid}':
    parameters:
      - schema:
          type: string
        name: creative_work_guid
        in: path
        required: true
    get:
      summary: Get a creative work
      tags:
        - Creative work management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  creative_work:
                    $ref: ../models/CreativeWork.v1.yaml
                  _embedded:
                    type: object
                    properties:
                      genres:
                        type: array
                        items:
                          type: object
                          properties:
                            genre:
                              $ref: ../models/Genre.v1.yaml
                          required:
                            - genre
                      content_ratings:
                        type: array
                        items:
                          type: object
                          properties:
                            content_rating:
                              $ref: ../models/ContentRating.v1.yaml
                      tags:
                        type: array
                        items:
                          type: object
                          properties:
                            tag:
                              $ref: ../models/Tag.v1.yaml
                          required:
                            - tag
                      persons:
                        type: array
                        items:
                          type: object
                          properties:
                            person:
                              $ref: ../models/Person.v1.yaml
                            role:
                              type: string
                              enum:
                                - actor
                                - creator
                                - director
                                - editor
                                - producer
                                - writer
                                - executive producer
                            character_name:
                              type: string
                          required:
                            - person
                            - role
                      availabilities:
                        type: array
                        items:
                          type: object
                          properties:
                            availability:
                              $ref: ../models/Availability.v1.yaml
                          required:
                            - availability
                required:
                  - creative_work
              examples:
                '1':
                  value:
                    creative_work:
                      guid: 27c13eec19014084a0a3173061702b46
                      type: movie
                      created_at: '2020-01-01T00:00:10Z'
                      updated_at: '2020-01-01T00:00:10Z'
                      _links:
                        self:
                          href: /content/creative_works/27c13eec19014084a0a3173061702b46
                        availabilities:
                          href: /content/creative_works/27c13eec19014084a0a3173061702b46/availabilities
                        tags:
                          href: /content/creative_works/27c13eec19014084a0a3173061702b46/tags
                        genres:
                          href: /content/creative_works/27c13eec19014084a0a3173061702b46/genres
                        content_ratings:
                          href: /content/creative_works/27c13eec19014084a0a3173061702b46/content_ratings
                        persons:
                          href: /content/creative_works/27c13eec19014084a0a3173061702b46/Persons
                      identifiers:
                        - source: mysource
                          id: '1'
                      titles:
                        - metadata:
                            source: mysource
                            type: official
                            country: GB
                            language: en
                          title: The Usual Suspects
                      descriptions:
                        - metadata:
                            source: mysource
                            type: full
                            country: GB
                            language: en
                          description: 'A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.'
                      artworks:
                        - metadata:
                            source: mysource
                            type: poster
                            country: GB
                            language: en
                          url: 'https://mydomain.com/poster.jpg'
                          width: 100
                          height: 100
                      parent:
                        href: /content/creative_works/eac7cb1192264b088ccbad0874395ce5
                    _embedded:
                      genres:
                        - genre:
                            guid: 9be42f99a8ab420082719d1bafc8e649
                            identifiers:
                              - source: mysource
                                id: '1'
                            names:
                              - metadata:
                                  language: en
                                name: Action
                            _links:
                              self:
                                href: /content/genres/9be42f99a8ab420082719d1bafc8e649
                            created_at: '2020-01-01T00:00:00Z'
                            updated_at: '2020-01-01T00:00:00Z'
      operationId: v1.content.creative_works.get
      parameters: []
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
                embed:
                  type: array
                  items:
                    type: string
                    enum:
                      - genres
                      - tags
                      - availabilities
                      - content_ratings
                      - persons
  /content/creative_works:
    get:
      summary: List creative works
      tags:
        - Creative work management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  creative_works:
                    type: array
                    items:
                      type: object
                      properties:
                        creative_work:
                          $ref: ../models/CreativeWork.v1.yaml
                      required:
                        - creative_work
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - creative_works
                  - _links
              examples:
                '1':
                  value:
                    creative_works:
                      - creative_work:
                          guid: 27c13eec19014084a0a3173061702b46
                          type: movie
                          created_at: '2020-01-01T00:00:10Z'
                          updated_at: '2020-01-01T00:00:10Z'
                          _links:
                            self:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46
                            availabilities:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/availabilities
                            tags:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/tags
                            genres:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/genres
                            content_ratings:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/content_ratings
                            persons:
                              href: /content/creative_works/27c13eec19014084a0a3173061702b46/persons
                          identifiers:
                            - source: mysource
                              id: '1'
                          titles:
                            - metadata:
                                source: mysource
                                type: official
                                country: GB
                                language: en
                              title: The Usual Suspects
                          descriptions:
                            - metadata:
                                source: mysource
                                type: full
                                country: GB
                                language: en
                              description: 'A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.'
                          artworks:
                            - metadata:
                                source: mysource
                                type: poster
                                country: GB
                                language: en
                              url: 'https://mydomain.com/poster.jpg'
                              width: 100
                              height: 100
                          parent:
                            href: /content/creative_works/eac7cb1192264b088ccbad0874395ce5
                    _links:
                      self:
                        href: '/content/creative_works?offset=50&limit=50'
                      next:
                        href: '/content/creative_works?offset=100&limit=50'
                      prev:
                        href: /content/creative_works
                      first:
                        href: /content/creative_works
                      last:
                        href: '/content/creative_works?offset=2300&limit=50'
      operationId: v1.content.creative_works.get_list
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
  /content/services:
    get:
      summary: List services
      tags:
        - Service management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        service:
                          $ref: ../models/Service.v1.yaml
                      required:
                        - service
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - services
                  - _links
              examples:
                '1':
                  value:
                    services:
                      - service:
                          guid: df3a998849344e9b954b7807fc623f08
                          identifiers:
                            - source: mysource
                              id: '1'
                          artworks:
                            - url: 'https://mydomain.com/picture.jpg'
                              width: 100
                              height: 100
                              metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: icon
                          names:
                            - name: BBC One London
                              metadata:
                                language: en
                                country: GB
                          _links:
                            self:
                              href: /content/services/df3a998849344e9b954b7807fc623f08
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/services?offset=50&limit=50'
                      next:
                        href: '/content/services?offset=100&limit=50'
                      prev:
                        href: /content/services
                      first:
                        href: /content/services
                      last:
                        href: '/content/services?offset=2300&limit=50'
      operationId: v1.content.service.get_list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
            examples: {}
      description: ''
  /content/tags:
    get:
      summary: List tags
      tags:
        - Tag management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          $ref: ../models/Tag.v1.yaml
                      required:
                        - tag
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - tags
                  - _links
              examples:
                '1':
                  value:
                    tags:
                      - tag:
                          guid: 8703dd1ced974ecea01116f2c0a5a282
                          identifiers:
                            - source: mysource
                              id: '1'
                          names:
                            - name: Warm
                              metadata:
                                language: en
                          _links:
                            self:
                              href: /content/tags/8703dd1ced974ecea01116f2c0a5a282
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/tags?offset=50&limit=50'
                      next:
                        href: '/content/tags?offset=100&limit=50'
                      prev:
                        href: /content/tags
                      first:
                        href: /content/tags
                      last:
                        href: '/content/tags?offset=2300&limit=50'
      operationId: v1.content.tag.get_list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  /content/genres:
    get:
      summary: List genres
      tags:
        - Genre management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  genres:
                    type: array
                    items:
                      type: object
                      properties:
                        genre:
                          $ref: ../models/Genre.v1.yaml
                      required:
                        - genre
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - genres
                  - _links
              examples:
                '1':
                  value:
                    genres:
                      - genre:
                          guid: 9be42f99a8ab420082719d1bafc8e649
                          identifiers:
                            - source: mysource
                              id: '1'
                          names:
                            - metadata:
                                language: en
                              name: Action
                          _links:
                            self:
                              href: /content/genres/9be42f99a8ab420082719d1bafc8e649
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/genres?offset=50&limit=50'
                      next:
                        href: '/content/genres?offset=100&limit=50'
                      prev:
                        href: /content/genres
                      first:
                        href: /content/genres
                      last:
                        href: '/content/genres?offset=2300&limit=50'
      operationId: v1.content.genre.get_list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  /content/content_ratings:
    get:
      summary: List content ratings
      tags:
        - Content rating management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content_ratings:
                    type: array
                    items:
                      type: object
                      properties:
                        content_rating:
                          $ref: ../models/ContentRating.v1.yaml
                      required:
                        - content_rating
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - content_ratings
                  - _links
              examples:
                '1':
                  value:
                    content_ratings:
                      - content_rating:
                          guid: bcb27a2c9ee74a5a86720c3b5828093c
                          identifiers:
                            - source: mysource
                              id: '1'
                          values:
                            - metadata:
                                country: GB
                              value: '12'
                              organization: MPAA
                          _links:
                            self:
                              href: /content/content_ratings/bcb27a2c9ee74a5a86720c3b5828093c
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/content_ratings?offset=50&limit=50'
                      next:
                        href: '/content/content_ratings?offset=100&limit=50'
                      prev:
                        href: /content/content_ratings
                      first:
                        href: /content/content_ratings
                      last:
                        href: '/content/content_ratings?offset=2300&limit=50'
      operationId: v1.content.content_rating.get_list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  /content/persons:
    get:
      summary: List persons
      tags:
        - Persons management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  persons:
                    type: array
                    items:
                      type: object
                      properties:
                        person:
                          $ref: ../models/Person.v1.yaml
                      required:
                        - person
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - persons
                  - _links
              examples:
                '1':
                  value:
                    persons:
                      - person:
                          guid: eb4aaa3de91242ba82ad48bee0b48996
                          name: Keyser Söze
                          identifiers:
                            - source: mysource
                              id: '1'
                          pictures:
                            - url: 'https://mydomain.com/picture.jpg'
                              width: 100
                              height: 100
                              metadata:
                                country: GB
                                language: en
                                type: portrait
                          _links:
                            self:
                              href: /content/persons/eb4aaa3de91242ba82ad48bee0b48996
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/persons?offset=50&limit=50'
                      next:
                        href: '/content/persons?offset=100&limit=50'
                      prev:
                        href: /content/persons
                      first:
                        href: /content/persons
                      last:
                        href: '/content/persons?offset=2300&limit=50'
      operationId: v1.content.persons.get_list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  '/content/tags/{tag_guid}':
    parameters:
      - schema:
          type: string
        name: tag_guid
        in: path
        required: true
    get:
      summary: Get a tag
      tags:
        - Tag management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tag:
                    $ref: ../models/Tag.v1.yaml
                required:
                  - tag
              examples:
                '1':
                  value:
                    tag:
                      guid: 8703dd1ced974ecea01116f2c0a5a282
                      identifiers:
                        - source: mysource
                          id: '1'
                      names:
                        - name: Warm
                          metadata:
                            language: en
                      _links:
                        self:
                          href: /content/tags/8703dd1ced974ecea01116f2c0a5a290
                      created_at: '2020-01-01T00:00:00Z'
                      updated_at: '2020-01-01T00:00:00Z'
                      relationships:
                        - href: /content/tags/67903dd1ced974ecea01116f2c0a5a290
                          rel: sibling
      operationId: v1.content.tag.get
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
  '/content/services/{service_guid}':
    parameters:
      - schema:
          type: string
        name: service_guid
        in: path
        required: true
    get:
      summary: Get a service
      tags:
        - Service management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    $ref: ../models/Service.v1.yaml
                required:
                  - service
              examples:
                '1':
                  value:
                    service:
                      guid: df3a998849344e9b954b7807fc623f08
                      identifiers:
                        - source: mysource
                          id: '1'
                      artworks:
                        - url: 'https://mydomain.com/picture.jpg'
                          width: 100
                          height: 100
                          metadata:
                            country: GB
                            language: en
                            source: mysource
                            type: icon
                      names:
                        - name: BBC One London
                          metadata:
                            language: en
                            country: GB
                      _links:
                        self:
                          href: /content/services/df3a998849344e9b954b7807fc623f08
                      created_at: '2020-01-01T00:00:00Z'
                      updated_at: '2020-01-01T00:00:00Z'
      operationId: v1.content.service.get
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
  '/content/genres/{genre_guid}':
    parameters:
      - schema:
          type: string
        name: genre_guid
        in: path
        required: true
    get:
      summary: Get a genre
      tags:
        - Genre management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  genre:
                    $ref: ../models/Genre.v1.yaml
                required:
                  - genre
              examples:
                '1':
                  value:
                    genre:
                      guid: 9be42f99a8ab420082719d1bafc8e649
                      identifiers:
                        - source: mysource
                          id: '1'
                      names:
                        - metadata:
                            language: en
                          name: Action
                      _links:
                        self:
                          href: /content/genres/9be42f99a8ab420082719d1bafc8e649
                      created_at: '2020-01-01T00:00:00Z'
                      updated_at: '2020-01-01T00:00:00Z'
      operationId: v1.content.genre.get
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
  '/content/content_ratings/{rating_guid}':
    parameters:
      - schema:
          type: string
        name: rating_guid
        in: path
        required: true
    get:
      summary: Get a content rating
      tags:
        - Content rating management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content_rating:
                    $ref: ../models/ContentRating.v1.yaml
                required:
                  - content_rating
              examples:
                '1':
                  value:
                    content_rating:
                      guid: bcb27a2c9ee74a5a86720c3b5828093c
                      identifiers:
                        - source: mysource
                          id: '1'
                      values:
                        - metadata:
                            country: GB
                          value: '12'
                          organization: MPAA
                      _links:
                        self:
                          href: /content/content_ratings/bcb27a2c9ee74a5a86720c3b5828093c
                      created_at: '2020-01-01T00:00:00Z'
                      updated_at: '2020-01-01T00:00:00Z'
      operationId: v1.content.content_rating.get
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
  '/content/persons/{person_guid}':
    parameters:
      - schema:
          type: string
        name: person_guid
        in: path
        required: true
    get:
      summary: Get a person
      tags:
        - Persons management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  person:
                    $ref: ../models/Person.v1.yaml
                required:
                  - person
              examples:
                '1':
                  value:
                    person:
                      guid: eb4aaa3de91242ba82ad48bee0b48996
                      identifiers:
                        - source: mysource
                          id: '1'
                      name: Keyser Söze
                      pictures:
                        - url: 'https://mydomain.com/picture.jpg'
                          width: 100
                          height: 100
                          metadata:
                            country: GB
                            language: en
                            type: portrait
                      _links:
                        self:
                          href: /content/persons/eb4aaa3de91242ba82ad48bee0b48996
                      created_at: '2020-01-01T00:00:00Z'
                      updated_at: '2020-01-01T00:00:00Z'
      operationId: v1.content.person.get
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
  /content/platforms:
    get:
      summary: List platforms
      tags:
        - Platform management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  platforms:
                    type: array
                    items:
                      type: object
                      properties:
                        platform:
                          $ref: ../models/Platform.v1.yaml
                      required:
                        - platform
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - platforms
                  - _links
              examples:
                '1':
                  value:
                    platforms:
                      - platform:
                          guid: e1d00d49612f48c791458f8f754358a9
                          identifiers:
                            - source: mysource
                              id: '1'
                          artworks:
                            - url: 'https://mydomain.com/picture.jpg'
                              width: 100
                              height: 100
                              metadata:
                                country: GB
                                language: en
                                source: mysource
                                type: icon
                          names:
                            - name: IOS
                              metadata:
                                language: en
                                country: GB
                          _links:
                            self:
                              href: /content/platforms/e1d00d49612f48c791458f8f754358a9
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/platforms?offset=50&limit=50'
                      next:
                        href: '/content/platforms?offset=100&limit=50'
                      prev:
                        href: /content/platforms
                      first:
                        href: /content/platforms
                      last:
                        href: '/content/platforms?offset=2300&limit=50'
      operationId: v1.content.platform.get_list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  '/content/platforms/{platform_guid}':
    parameters:
      - schema:
          type: string
        name: platform_guid
        in: path
        required: true
    get:
      summary: Get a platform
      tags:
        - Platform management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  platform:
                    $ref: ../models/Platform.v1.yaml
                required:
                  - platform
              examples:
                '1':
                  value:
                    platform:
                      guid: e1d00d49612f48c791458f8f754358a9
                      identifiers:
                        - source: mysource
                          id: '1'
                      artworks:
                        - url: 'https://mydomain.com/picture.jpg'
                          width: 100
                          height: 100
                          metadata:
                            country: GB
                            language: en
                            source: mysource
                            type: icon
                      names:
                        - name: IOS
                          metadata:
                            language: en
                            country: GB
                      _links:
                        self:
                          href: /content/platforms/e1d00d49612f48c791458f8f754358a9
                      created_at: '2020-01-01T00:00:00Z'
                      updated_at: '2020-01-01T00:00:00Z'
      operationId: get-content-platforms-guid
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
  /content/locations:
    get:
      summary: List locations
      tags:
        - Location management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        location:
                          $ref: ../models/Location.v1.yaml
                      required:
                        - location
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - locations
                  - _links
              examples:
                '1':
                  value:
                    locations:
                      - location:
                          guid: e1d00d49612f48c791458f8f754358a9
                          identifiers:
                            - source: mysource
                              id: '1'
                          names:
                            - name: France
                              metadata:
                                country: FR
                          _links:
                            self:
                              href: /content/locations/e1d00d49612f48c791458f8f754358a9
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/locations?offset=50&limit=50'
                      next:
                        href: '/content/locations?offset=100&limit=50'
                      prev:
                        href: /content/locations
                      first:
                        href: /content/locations
                      last:
                        href: '/content/locations?offset=2300&limit=50'
      operationId: v1.content.location.get_list
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  '/content/locations/{location_guid}':
    parameters:
      - schema:
          type: string
        name: location_guid
        in: path
        required: true
    get:
      summary: Get a location
      tags:
        - Location management
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  location:
                    $ref: ../models/Location.v1.yaml
                required:
                  - location
              examples:
                '1':
                  value:
                    location:
                      guid: e1d00d49612f48c791458f8f754358a9
                      identifiers:
                        - source: mysource
                          id: '1'
                      names:
                        - name: France
                          metadata:
                            country: FR
                      _links:
                        self:
                          href: /content/locations/e1d00d49612f48c791458f8f754358a9
                      created_at: '2020-01-01T00:00:00Z'
                      updated_at: '2020-01-01T00:00:00Z'
      operationId: v1.content.location.get
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                languages:
                  type: array
                  items:
                    $ref: ../models/languages_field.v1.yaml
                fields:
                  type: array
                  items:
                    type: string
  '/content/creative_works/{creative_work_guid}/tags':
    parameters:
      - schema:
          type: string
        name: creative_work_guid
        in: path
        required: true
    get:
      summary: Get tags from creative work
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        tag:
                          $ref: ../models/Tag.v1.yaml
                      required:
                        - tag
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - tags
                  - _links
              examples:
                '1':
                  value:
                    tags:
                      - tag:
                          guid: 8703dd1ced974ecea01116f2c0a5a282
                          identifiers:
                            - source: mysource
                              id: '1'
                          names:
                            - name: Warm
                              metadata:
                                language: en
                          _links:
                            self:
                              href: /content/tags/8703dd1ced974ecea01116f2c0a5a282
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/tags?offset=50&limit=50'
                      next:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/tags?offset=100&limit=50'
                      prev:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/tags
                      first:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/tags
                      last:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/tags?offset=2300&limit=50'
      operationId: v1.content.tag.get_from_creative_work
      parameters: []
      tags:
        - Tag management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  '/content/creative_works/{creative_work_guid}/genres':
    parameters:
      - schema:
          type: string
        name: creative_work_guid
        in: path
        required: true
    get:
      summary: Get genres from creative work
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  genres:
                    type: array
                    items:
                      type: object
                      properties:
                        genre:
                          $ref: ../models/Genre.v1.yaml
                      required:
                        - genre
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - genres
                  - _links
              examples:
                '1':
                  value:
                    genres:
                      - genre:
                          guid: 9be42f99a8ab420082719d1bafc8e649
                          identifiers:
                            - source: mysource
                              id: '1'
                          names:
                            - metadata:
                                language: en
                              name: Action
                          _links:
                            self:
                              href: /content/genres/9be42f99a8ab420082719d1bafc8e649
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/genres?offset=50&limit=50'
                      next:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/genres?offset=100&limit=50'
                      prev:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/genres
                      first:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/genres
                      last:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/genres?offset=2300&limit=50'
      operationId: v1.content.genre.get_from_creative_work
      parameters: []
      tags:
        - Genre management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  '/content/creative_works/{creative_work_guid}/persons':
    parameters:
      - schema:
          type: string
        name: creative_work_guid
        in: path
        required: true
    get:
      summary: Get persons from creative work
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  persons:
                    type: array
                    items:
                      type: object
                      properties:
                        person:
                          $ref: ../models/Person.v1.yaml
                        role:
                          type: string
                          enum:
                            - actor
                            - creator
                            - director
                            - editor
                            - producer
                            - writer
                            - executive producer
                        character_name:
                          type: string
                      required:
                        - person
                        - role
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - persons
                  - _links
              examples:
                '1':
                  value:
                    persons:
                      - role: actor
                        character_name: Keyser Söze
                        person:
                          guid: eb4aaa3de91242ba82ad48bee0b48996
                          name: Kevin Spacey
                          identifiers:
                            - source: mysource
                              id: '1'
                          pictures:
                            - url: 'https://mydomain.com/picture.jpg'
                              width: 100
                              height: 100
                              metadata:
                                country: GB
                                language: en
                                type: portrait
                          _links:
                            self:
                              href: /content/persons/eb4aaa3de91242ba82ad48bee0b48996
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/persons?offset=50&limit=50'
                      next:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/persons?offset=100&limit=50'
                      prev:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/persons
                      first:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/persons
                      last:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/persons?offset=2300&limit=50'
      operationId: v1.content.person.get_from_creative_work
      parameters: []
      tags:
        - Persons management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  '/content/creative_works/{creative_work_guid}/content_ratings':
    parameters:
      - schema:
          type: string
        name: creative_work_guid
        in: path
        required: true
    get:
      summary: Get content ratings from creative work
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content_ratings:
                    type: array
                    items:
                      type: object
                      properties:
                        content_rating:
                          $ref: ../models/ContentRating.v1.yaml
                      required:
                        - content_rating
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - content_ratings
                  - _links
              examples:
                '1':
                  value:
                    content_ratings:
                      - content_rating:
                          guid: bcb27a2c9ee74a5a86720c3b5828093c
                          identifiers:
                            - source: mysource
                              id: '1'
                          values:
                            - metadata:
                                country: GB
                              organization: MPAA
                              value: '12'
                          _links:
                            self:
                              href: /content/content_ratings/bcb27a2c9ee74a5a86720c3b5828093c
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                    _links:
                      self:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/content_ratings?offset=50&limit=50'
                      next:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/content_ratings?offset=100&limit=50'
                      prev:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/content_ratings
                      first:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/content_ratings
                      last:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/content_ratings?offset=2300&limit=50'
      operationId: v1.content.content_rating.get_from_creative_work
      parameters: []
      tags:
        - Content rating management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
  '/content/creative_works/{creative_work_guid}/availabilities':
    parameters:
      - schema:
          type: string
        name: creative_work_guid
        in: path
        required: true
    get:
      summary: Get availabilities from creative work
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  availabilities:
                    type: array
                    items:
                      type: object
                      properties:
                        availability:
                          $ref: ../models/Availability.v1.yaml
                      required:
                        - availability
                  _links:
                    $ref: ../models/HalLinks.v1.yaml
                required:
                  - availabilities
                  - _links
              examples:
                '1':
                  value:
                    availabilities:
                      - availability:
                          guid: eb4aaa3de91242ba82ad48bee0b48996
                          created_at: '2020-01-01T00:00:00Z'
                          updated_at: '2020-01-01T00:00:00Z'
                          datetime_from: '2020-01-01T00:00:00Z'
                          datetime_to: '2020-01-01T00:00:00Z'
                          recipe:
                            href: 'https://mydomain.com/link_to_asset.html'
                          _links:
                            self:
                              href: /content/persons/eb4aaa3de91242ba82ad48bee0b48996
                            service:
                              href: /content/services/27c13eec19014084a0a3173061702b46
                            platform:
                              href: /content/platforms/27c13eec19014084a0a3173061702b46
                            location:
                              href: /content/locations/27c13eec19014084a0a3173061702b46
                          identifiers:
                            - source: mysource
                              id: '1'
                    _links:
                      self:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/availabilities?offset=50&limit=50'
                      next:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/availabilities?offset=100&limit=50'
                      prev:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/availabilities
                      first:
                        href: /content/creative_works/8703dd1ced974ecea01116f2c0a5a282/availabilities
                      last:
                        href: '/content/creative_works/8703dd1ced974ecea01116f2c0a5a282/availabilities?offset=2300&limit=50'
      operationId: v1.content.availability.get_from_creative_work
      parameters: []
      tags:
        - Availability management
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  $ref: ../models/filter_field.v1.yaml
                sort:
                  type: array
                  enum:
                    - created_at
                    - '-created_at'
                    - updated_at
                    - '-updated_at'
                  items:
                    type: string
                limit:
                  type: integer
                  minimum: 0
                  maximum: 50
                offset:
                  type: integer
                languages:
                  items:
                    $ref: ../models/languages_field.v1.yaml
                  type: array
                fields:
                  type: array
                  items:
                    type: string
      description: ''
components:
  schemas: {}
  securitySchemes:
    Authorization:
      name: Authorization
      type: apiKey
      in: header
      x-apikeyInfoFunc: security.check_token
security:
  - Authorization: []
